extends base

block page-content

	section.row-fluid
		.span6
			.widget-container
				if documents.length
					.widget-title
						.widget-icon
							i.icon.icon-file
						h5 Latest documents
					table.table.table-hover.table-condensed
						thead
							tr
								th Title
								th Tags
								th Date

						each doc in documents
							tr
								td= doc['title']
								td= doc['tags']
								td= doc['date']
				else
					.widget-title
						.widget-icon
							i.icon.icon-file
						h5 Latest documents
					p.no-results No documents created yet.

		.span6
			.widget-container
				if tags.length
					.widget-title
						.widget-icon
							i.icon.icon-tags
						h5 Latest tags
					table.table.table-hover.table-condensed
						thead
							tr
								th Name
								th Description

						each tag in tags
							tr
								td= tag['name']
								td= tag['description']
				else
					.widget-title
						.widget-icon
							i.icon.icon-tags
						h5 Latest tags
					p.no-results No tags created yet.